.callback-form {

    background-color: rgba(207, 230, 230, 0.775);
    max-width: 400px;
    width: 400px;
    height: 500px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    textarea {
        height: 150px;
    }

}