.callback-form {
  background-color: rgba(255, 255, 255, 0.261);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 10px 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 300px;

  h1 {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  input {
    height: 25px;
    width: 200px;
    margin: 10px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.467);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }

  .input-class {
    width: auto;
    margin: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.467);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  textarea {
    border-radius: 5px;
    margin: 10px;
    height: 150px;
    background: rgba(255, 255, 255, 0.186);
    border: 1px solid rgba(255, 255, 255, 0.467);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 5px;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.671);
    opacity: 1;
  }

  .btn {
    align-self: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: #df2359;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
  }
}
